*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font:0.83rem Arial, Helvetica, sans-serif;
}

/* header */

header{
    height: 5vh;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
}
#sfumaturaHeader{
    height: 1px;
    width: 100vw;
    margin-bottom: 20px;
    margin-top: -10px;
    filter: drop-shadow(0px 16px 3px #919191b0);    
    background-color: white;
}
#icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    height: 25px;
    padding: 10px;
}
#icons i{
    font-size: 1.1em;

}
#logoScritta{
    height: 30px;
}
#logoScritta img{
    height: 100%;
    object-fit: contain;
}
#search{
    padding: 3px;
    border-radius: 15px;
    border: 1px solid #919191;
}
#T{
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background-color: rgb(255, 85, 0);
    text-align: center;
    line-height: 22px;
    font-size: 1.3em;
    color: white;
    z-index: 1;
}

/* corpo centrale che comprende main + footer*/

#corpoCentrale{
    display: flex;
}

/* footer */

footer{
    width: 35%;
    padding: 20px;
}

footer > div{
    width: 90%;
    padding: 15px 20px 15px 10px;
    display: flex;
    flex-direction: column;
}

/* ------ TWITTER ------- */
#twitter{
    display: flex;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #9191915b;
}
#twitter > p{
    font-size: 0.95em;
    color: rgb(73, 68, 68);
    width: 80%;
}
#logoMT img{
    height: 20px;
    object-fit: contain;
}
#logoMT{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}
.piu{
    font-size: 1.7em;
    color: #919191;
    margin: 5px;
}
.connect{
    display: flex;
    flex-direction: row;
    padding: 5px;
    border: 1px solid #919191;
    border-radius: 20px;
    height: 25px;
    width: 140px;
    margin: 15px;
}
.connect img{
    height: 15px;
    object-fit: contain;
    margin: 0 5px;
}
.connect a{
    font-size: 0.9em;
    color: #3f3e3e;
    text-decoration: none;
}
#later{
    color: #919191;
    font-size: 0.9em;
    margin: 5px;
}

/* ------ TOPICS -------- */

#topics{
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#topics h3{
    width: 100%;
}
.topics{
    width: auto;
    padding: 10px;
    font-size: 0.9em;
    background-color: #9191911f;
    border-radius: 20px;
    margin-right: 8px;
    margin-top: 5px;
    text-decoration: none;
    color: black;
}

/* ----- FOLLOW ------- */

#follow{
    padding-top: 30px;
}
#follow > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;
}
#follow > div > img{
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}
#follow > div a{
    font-size: 0.8em;
    margin: 2px;
    width: 14vw;
    color: #919191;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    text-decoration: none;
}
#follow > div h3{
    font-weight: 700;
    margin: 0 5px;
}
.follow{
    margin-top: 5px;
    font-size: 0.7em;
    border: 1px solid #919191;
    border-radius: 20px;
    height: 25px;
    width: 50px;
    text-align: center;
    line-height: 25px;
    background-color: white;
}

/* ------ SAVED ------- */

#saved h3{
    margin-bottom: 20px;
}

#saved > div > div{
    display: flex;
}
#saved > div > div > p{
    color: #919191;
    font-size: 0.8em;
    margin: 5px 0;
}
#saved > div{
    margin-bottom: 20px;
}
.savedProfile img{
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 10px 10px 0;
}
.savedProfile a, p{
    text-decoration: none;
    color: black;
    font-size: 0.8em;
    margin: 2px;
}
.savedProfile{
    align-items: center;
}
.fa-star{
    font-size: 0.6em;
    margin: 7px;
}
.seeAll{
    color: green;
    font-size: 0.85em;
    text-decoration: none;
}

/* ------ HELP ------- */

#help{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}
#help a{
    margin: 5px 15px;
    font-size: 0.9em;
    color: #919191;
    text-decoration: none;
}

/* main */

main{
    width: 65%;
    padding: 20px 40px;
    border-right: 1px solid #91919140;
}
#pages{
    padding: 15px 0 5px 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.34);
}
#pages a{
    height: 100%;
    padding: 15px 0 5px 0;
    color: gray;
    font-size: 0.9em;
    margin: 0 10px;
    text-decoration: none;
}
#pagesHover{
    border-bottom: 2px solid black;
    color: #3f3e3e;
}
.sx{
    width: 75%;
}
.dx{
    width: 25%;
    height: 100px;
}
.dx img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-top: 25px;
}
.card{
    padding-top: 10px;
    display: flex;
    height: 150px;
}
.cardLogo{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.name{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 5px 10px 5px;
    color: black;
    text-decoration: none;
    font-size: 1.05em;
}
.name a{
    color: black;
    text-decoration: none;
    font-size: 0.95em;
}
.name p{
    font-size: 0.95em;
    color: #919191;
}
.title{
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 10px;
}
.descrizione{
    color: #919191;
    text-decoration: none;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}
.contenitoreTempo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contenitoreTempo p{
    color: #919191;
    font-size: 0.85em;
}
.incarico{
    height: 20px;
    line-height: 20px;
    padding: 0 8px;
    text-align: center;
    background-color: #91919131;
    border-radius: 10px;
}
.dataTempo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px 0;
}
.cardIcon{
    margin: 20px 10px;
}
.cardIcon i{
    margin-right: 10px;
    font-size: 1.1em;
}

.sticky{
    position: -webkit-sticky;  
    position: sticky;  
    top: -60px;

}